<script>
$(document).ready(function() {
    $('#user-list').DataTable( {
      "scrollX": true
    });
} );
</script>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="well">
        <h1 class="text-center">Profile List</h1>
        <table id="user-list" class="table table-striped table-bordered table-hover">
          <thead bgcolor="#969696" style="color: white">
            <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Position</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Phone 1</th>
              <th>Type</th>
              <th>Phone 2</th>
              <th>Type</th>
              <th>Email</th>
              <th>Notes</th>
              <th>Profile Created At</th>
              <th>Last Update</th>
            </tr>
          </thead>
          <tbody>
            <% @profile.each do |p| %>
            <tr>
              <td><div style='width: 10px'><%= p.user_id %></div></td>
              <td><div style='width: 100px'><%= p.name %></div></td>
              <td><div style='width: 120px'><%= p.position %></div></td>
              <td><div style='width: 260px'><%= p.address %></div></td>
              <td><div style='width: 120px'><%= p.city %></div></td>
              <td><div style='width: 10px'><%= p.state %></div></td>
              <td><div style='width: 40px'><%= p.zipcode %></div></td>
              <td><div style='width: 80px'><%= p.phone1 %></div></td>
              <td><div style='width: 20px'><%= p.phone1_type %></div></td>
              <td><div style='width: 80px'><%= p.phone2 %></div></td>
              <td><div style='width: 20px'><%= p.phone2_type %></div></td>
              <td><div style='width: 260px'><%= p.email %></div></td>
              <td><div style='width: 300px'><%= p.notes %></div></td>
              <td><div style='width: 170px'><%= p.created_at %></div></td>
              <td><div style='width: 170px'><%= p.updated_at %></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>