<div class="col-md-7 col-md-offset-3">
  <div class="well">
    <legend class="text-center">New Callsheet for <%= @callsheet.store_name %> (<%= @callsheet.store_abbrv %> #<%= @callsheet.store_number %>) on <%= @callsheet.visit_date %></legend>
    <div class="form-horizontal">
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tabs-1">Colonial Elegance</a></li>
          <li><a data-toggle="tab" href="#tabs-2">Genie</a></li>
          <li><a data-toggle="tab" href="#tabs-3">Honeywell</a></li>
          <li><a data-toggle="tab" href="#tabs-4">Summit Brands</a></li>
          <li><a data-toggle="tab" href="#tabs-5">All Stone</a></li>
          <li><a data-toggle="tab" href="#tabs-6">Tuscany</a></li>
      </ul>
      <div class="tab-content">
        <div id="tabs-1" class="tab-pane fade in active">
          <%= render 'colonialelegance' %>
        </div>
        <div id="tabs-2" class="tab-pane fade in">
          <%= render 'genie' %>
        </div>
        <div id="tabs-3" class="tab-pane fade in">
          <%= render 'honeywell' %>
        </div>
        <div id="tabs-4" class="tab-pane fade in">
          <%= render 'summit' %>
        </div>
        <div id="tabs-5" class="tab-pane fade in">
          <%= render 'allstone' %>
        </div>
        <div id="tabs-6" class="tab-pane fade in">
          <%= render 'tuscany' %>
        </div>
      </div>
<!-- Hidden Form -->
      <%= form_for @callsheet, url: callsheets_path, remote: true, :html => { :multipart => true} do |f| %>
      <div class="form-group">
        <div class="col-md-8">
          <table id="ce_table" class="hidden">
              <tr>
                <th>ID</th>
              </tr>
              <tr>
                <td></td>
                <td><%= f.text_field :user_id, :value => @callsheet.user_id %></td>
                <td><%= f.text_field :store_id, :value => @callsheet.store_id %></td>
                <td><%= f.text_field :store_number, :value => @callsheet.store_number %></td>
                <td><%= f.text_field :store_abbrv, :value => @callsheet.store_abbrv %></td>
                <td><%= f.text_field :store_name, :value => @callsheet.store_name %></td>
                <td><%= f.text_field :visit_date, :value => @callsheet.visit_date %></td>
                <td><%= f.text_field :dept_manager_400, :id => 'millwork_managerHidden' %></td>
                <td><%= f.text_field :ce_stairdisplays, :id => 'ceSdcHidden' %></td>
                <td><%= f.text_field :ce_binboxes, :id => 'ceBinsHidden' %></td>
                <td><%= f.text_field :ce_tvdisplay, :id => 'ceTvHidden' %></td>
                <td><%= f.text_field :ce_closetdoors, :id => 'ceClosetHidden' %></td>
                <td><%= f.text_field :ce_barndoors, :id => 'ceBarndoorHidden' %></td>
                <td><%= f.text_field :ce_lit_tearpads, :id => 'ceLit-1Hidden' %></td>
                <td><%= f.text_field :ce_lit_closetdoors, :id => 'ceLit-2Hidden' %></td>
                <td><%= f.text_field :ce_lit_columns, :id => 'ceLit-3Hidden' %></td>
                <td><%= f.text_field :ce_notes, :id => 'ceNotesHidden' %></td>
                
                <td><%= f.text_field :genie_sku_4251691, :id => 'genieSku4251691Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4251689, :id => 'genieSku4251689Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4252547, :id => 'genieSku4252547Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4252548, :id => 'genieSku4252548Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4254040, :id => 'genieSku4254040Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4251720, :id => 'genieSku4251720Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4252388, :id => 'genieSku4252388Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4252445, :id => 'genieSku4252445Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4252391, :id => 'genieSku4252391Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :genie_sku_4251685, :id => 'genieSku4251685Hidden', :value => 'Out of Stock, Remove from Callsheet!' %></td>
                <td><%= f.text_field :genie_notes, :id => 'genieNotesHidden' %></td>
                
                <td><%= f.text_field :dept_manager_600, :id => 'plumbing_managerHidden' %></td>
                <td><%= f.text_field :hw_sku_3351566, :id => 'hwSku3351566Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351579, :id => 'hwSku3351579Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360310, :id => 'hwSku6360310Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360320, :id => 'hwSku6360320Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360325, :id => 'hwSku6360325Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360328, :id => 'hwSku6360328Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351813, :id => 'hwSku3351813Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351830, :id => 'hwSku3351830Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351832, :id => 'hwSku3351832Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351833, :id => 'hwSku3351833Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360205, :id => 'hwSku6360205Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360210, :id => 'hwSku6360210Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360220, :id => 'hwSku6360220Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360150, :id => 'hwSku6360150Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6360200, :id => 'hwSku6360200Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351837, :id => 'hwSku3351837Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351779, :id => 'hwSku3351779Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351885, :id => 'hwSku3351885Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351785, :id => 'hwSku3351785Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351798, :id => 'hwSku3351798Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351879, :id => 'hwSku3351879Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3351895, :id => 'hwSku3351895Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3352001, :id => 'hwSku3352001Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3352014, :id => 'hwSku3352014Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3352027, :id => 'hwSku3352027Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_3352030, :id => 'hwSku3352030Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6399948, :id => 'hwSku6399948Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6399949, :id => 'hwSku6399949Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6399978, :id => 'hwSku6399978Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_sku_6399979, :id => 'hwSku6399979Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :hw_lit_thermostat, :id => 'hwLit1Hidden' %></td>
                <td><%= f.text_field :hw_lit_airquality, :id => 'hwLit2Hidden' %></td>
                <td><%= f.text_field :honeywell_notes, :id => 'hwNotesHidden' %></td>
                
                <td><%= f.text_field :summit_sku_6471315, :id => 'summitSku6471315Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471317, :id => 'summitSku6471317Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471323, :id => 'summitSku6471323Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471320, :id => 'summitSku6471320Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471321, :id => 'summitSku6471321Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471330, :id => 'summitSku6471330Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471333, :id => 'summitSku6471333Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471305, :id => 'summitSku6471305Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471322, :id => 'summitSku6471322Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471302, :id => 'summitSku6471302Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6473100, :id => 'summitSku6473100Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471335, :id => 'summitSku6471335Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6471325, :id => 'summitSku6471325Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6473918, :id => 'summitSku6473918Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6473917, :id => 'summitSku6473917Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6473900, :id => 'summitSku6473900Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_sku_6473136, :id => 'summitSku6473136Hidden', :value => 'Out of Stock' %></td>
                <td><%= f.text_field :summit_notes, :id => 'summitNotesHidden' %></td>
                
                <td><%= f.text_field :allstone_lit, :id => 'allstoneLitHidden' %></td>
                <td><%= f.text_field :allstone_notes, :id => 'allstoneNotesHidden' %></td>
                <td><%= f.text_field :tuscany_notes, :id => 'tuscanyNotesHidden' %></td>
                <td><%= f.text_field :callsheet_complete, :id => 'callsheetComplete' %></td>
              </tr>
            </tbody>
          </table>
        </div>

<!-- End Hidden Form -->
        <label class="col-md-6 control-label" for="cs_buttons"><br>Process Data</label>
        <div class="col-md-6">
          <div id="submitConfirm" style="display:none" title="Submit Callsheet?">
            <p><span class="fa fa-paper-plane-o" style="float:left; margin:12px 12px 20px 0;"></span>Only submit Callsheets that are 100% complete.  Otherwise, cancel this operation and click "Save."  Are you sure you want to Submit?</p>
          </div>
          <div id="saveConfirm" style="display:none" title="Callsheet saved!">
            <p><span class="fa fa-check-square-o" style="float:left; margin:12px 12px 20px 0;"></span>Callsheet information has been saved.  You can come back to this entry at any time, make sure to submit it when complete!</p>
          </div>
          <%= f.submit "Save", :id => "cs_save", :name => "cs_save", class: 'btn btn-success' %>
          <%= f.submit "Submit", :id => "cs_submit", :name => "cs_submit", class: 'btn btn-primary' %>
          <button id="cs_reset" name="cs_reset" class="btn btn-danger">Reset</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>